/* Estilo para el body */
body {
    padding-top: 40px;
    background-color: #F8F9FA;
    color: #212529;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.6;
    margin: 0; /* Elimina cualquier margen predeterminado del body */
}



/* Estilo para la imagen destacada */
#imagen-destacada {
    text-align: center;
    margin: 20px 0;
}

.imagen-destacada {
    width: 100%;
    max-width: 900px;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra inicial */
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation-delay: 0.4s;

}


/* Estilos para las imágenes de los cursos */
.imagen-curso {
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor de los cursos: 3 columnas */
.cursos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 40px; /* Espacio entre cursos */
    padding: 20px; /* Espaciado interno en el contenedor */
    justify-items: center; /* Centra los elementos dentro de cada celda */
    align-items: start; /* Alinea los elementos en la parte superior de la celda */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
}

.curso {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    border: 1px solid #ddd;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    width: 100%; /* Ajusta el ancho al 100% de su celda */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px; /* Ajusta la altura mínima según sea necesario */
}


.curso img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.curso:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño en hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.curso p {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limitar a 3 líneas */
    line-clamp: 3; /* Versión estándar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 15px; /* Espaciado interno */
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #006400; /* Ajusta el color si es necesario */
}

/* Estilos para el menú de navegación */
nav a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}



nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
}



/* Estilos para la sección del blog */
.blog-container {
    display: block; /* Cambia a block para evitar apilamiento no deseado */
    padding: 40px 20px;
    text-align: left; /* Alinea todo el contenido a la izquierda */
    margin-top: 30px;
    background-color: #f9f9f9;
}

.blog-container h2 {
    font-size: 2.5em;
    color: #006400;
    margin-bottom: 40px;
    text-align: center; /* Centra el título */
}

.blog-container h3 {
    font-size: 2em;
    color: #006400;
    margin-bottom: 20px;
    text-align: center; /* Alinea el subtítulo a la izquierda */
}

.blog-idiomas {
    list-style: none;
    padding: 0;
    text-align: center; /* Alinea la lista a la izquierda */
    display: flex; /* Flex para alinear las banderas e idiomas */
    flex-direction: column; /* Alineación vertical */
    max-width: 300px; /* Limita el ancho */
    margin: 0 auto; /* Centra el bloque en la página */
}

.blog-idiomas li {
    margin: 10px 0;
    display: flex;
    align-items: center; /* Alinea la bandera con el texto */
}

.blog-idiomas li img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.curso, .blog-post {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

.blog-post {
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px auto;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}

.blog-post h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 15px 0;
    color: #006400;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
    margin-bottom: 15px;
}

.blog-post:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.curso:hover, .blog-post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
    transform: translateY(-5px); /* Eleva la tarjeta en hover */
}

.blog-post a {
    color: #006400;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}



.leer-mas {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



/* Testimonios */
.testimonios-container {
    margin-top: 0;
    padding-top: 20px;
    padding: 50px 0; /* Asegura suficiente espacio arriba y abajo */
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    text-align: center; /* Centra el texto dentro de la sección */
}

/* Estilo del título */
.titulo-testimonios {
    font-size: 2rem; /* Aumentar tamaño de la fuente */
    color: #4b5563; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilo del carrusel */
.carrusel-testimonios {
    margin-top: 20px; /* Espacio entre el título y el carrusel */
    position: relative;
    display: flex; /* Para mostrar los botones y testimonios en línea */
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px; /* Ajusta según sea necesario */
    overflow: hidden; /* Oculta el desbordamiento */
}

/* Estilo de los testimonios */
.testimonios {
    display: flex;
    width: calc(100% * 9); /* Ajusta el ancho total según el número de testimonios */
    transition: transform 0.5s ease-in-out;
  }

/* Estilo de cada testimonio */
.testimonio {
    flex: 0 0 100%; /* Cada testimonio ocupa el 100% del contenedor visible */
    box-sizing: border-box;
  }

/* Estilo de las imágenes de los testimonios */
.foto-testimonio {
    width: 90%; /* Aumenta este valor según lo necesites */
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Añade sombra */
}

/* Estilo de los botones de navegación */
.prev-testimonio, .next-testimonio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev-testimonio {
    left: 10px;
}

.next-testimonio {
    right: 10px;
}

.prev-testimonio:hover, .next-testimonio:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo de los indicadores */
.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.indicador {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicador.active, .indicador:hover {
    background-color: #1f7037;
}






/* Estilos para el pie de página */
footer {
    background-color: #2c3e50 !important; /* Color azul oscuro elegante */
    color: white !important; /* Asegura que el texto sea blanco */
    padding: 30px 0;
    text-align: center;
    margin-top: 40px;
}

footer h3, footer p {
    margin: 5px 0;
    color: white !important; /* Asegura que todo el texto sea blanco */
    font-weight: bold;
}

footer a {
    color: #ffffff !important; /* Enlaces en blanco con !important */
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

footer a:hover {
    color: #FF6347; /* Cambiar color de los enlaces al pasar el cursor */
}

footer img {
    margin: 0 5px;
    vertical-align: middle;
}

/* Ajuste para las columnas dentro del footer */
footer div {
    display: inline-block;
    margin: 10px 15px;
    vertical-align: top;
}





/* Transiciones suaves para enlaces y botones */
a, button {
    transition: background-color 0.3s ease;
}

/* Estilos para los encabezados */
h1 {
    font-size: 1.6em; /* Ajustar el tamaño de la fuente del título */
    margin: 0 10px;
    white-space: nowrap; /* Evita que el texto se corte */
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    animation-delay: 0.6s;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilos para los botones */
button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    transform: translateY(-2px); /* Añade un efecto de movimiento hacia arriba */
    transform: scale(1.05); /* Agranda ligeramente el botón */
}

button:hover, a:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

 /* Alineación de contenido en pantallas pequeñas */
@media (max-width: 600px) {
    footer div {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    header, nav, h1, h2, h3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        gap: 15px;
    }

    nav a {
        font-size: 0.9em;
        width: 100%; /* Asegura que los enlaces ocupen todo el ancho */
    }

    h1, h2, h3 {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Sombra suave en el texto */
    }

    .blog-container, .cursos-container {
        flex-direction: column;
        align-items: center;
    }

    .blog-post, .imagen-destacada {
        width: 100%;
        max-width: none;
    }

    .cursos-container {
        grid-template-columns: 1fr;
    }

    .curso h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px 0;
        color: #006400;
    }

    body {
        font-size: 14px;
    }

    /* Ajuste de las banderas en pantallas pequeñas */
    .acciones-encabezado .flags {
        top: 10%; /* Coloca las banderas un poco más abajo */
        right: 20px; /* Ajusta la distancia de las banderas a la derecha */
        left: unset; /* Elimina cualquier posible valor de 'left' */
        transform: translateY(-50%); /* Alinea verticalmente las banderas */
    }
}

/* Estilos para tabletas y pantallas medianas */
@media (min-width: 601px) and (max-width: 900px) {
    header, nav, h1, h2, h3 {
        padding: 10px 20px;
    }

    nav {
        gap: 20px;
    }

    h1, h2, h3 {
        font-size: 1.8em; /* Ajustar tamaños de fuente */
    }

    .cursos-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para tabletas */
    }

    body {
        font-size: 16px;
    }

    /* Ajuste de las banderas en pantallas medianas */
    .acciones-encabezado .flags {
        top: 15%; /* Ajusta la posición vertical */
        right: 50px; /* Ajusta la posición a la derecha */
        transform: translateY(-50%);
    }
}

/* Estilos para laptops y pantallas grandes */
@media (min-width: 901px) and (max-width: 1200px) {
    header, nav, h1, h2, h3 {
        padding: 15px 30px;
    }

    nav {
        gap: 30px;
    }

    h1, h2, h3 {
        font-size: 2em; /* Ajustar tamaños de fuente */
    }

    .cursos-container {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    }

    body {
        font-size: 18px;
    }

    /* Ajuste de las banderas en pantallas grandes */
    .acciones-encabezado .flags {
        top: 15%; /* Ajusta la posición vertical */
        right: 80px; /* Ajusta la distancia de las banderas a la derecha */
        transform: translateY(-50%);
    }
}

/* Estilos para pantallas extra grandes */
@media (min-width: 1200px) {
    header, nav, h1, h2, h3 {
        padding: 20px 40px;
    }

    nav {
        gap: 40px;
    }

    h1, h2, h3 {
        font-size: 2.5em;
    }

    .cursos-container {
        grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    }

    body {
        font-size: 20px;
    }

    /* Ajuste de las banderas en pantallas extra grandes */
    .acciones-encabezado .flags {
        top: 7%; /* Mantiene la posición original para pantallas grandes */
        right: 100px; /* Mantiene la posición a la derecha */
        transform: translateY(-50%);
    }
}




.imagen-destacada {
    width: 100%;
    max-width: 900px;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    animation-delay: 0.4s;


}

.imagen-destacada:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
    transform: translateY(-5px); /* Eleva la imagen en hover */
}

/* Estilo para la sección de suscripción */
.suscripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra en la caja de suscripción */
    border-radius: 10px;
    animation-delay: 1s;
    margin: 40px auto; /* Centramos la sección de suscripción */
    width: 90%; /* Ajustamos el ancho */
    max-width: 600px; /* Ancho máximo para mantener el formulario compacto */
}

.suscripcion h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: #212529;
    margin-bottom: 20px;
    text-align: center;
}

.suscripcion form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.suscripcion input[type="text"], 
.suscripcion input[type="email"] {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra interior */
}

.suscripcion button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.suscripcion a {
    background-color: transparent; /* Asegura que los enlaces no tengan fondo */
    text-decoration: none;
    color: #006400;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#mensaje-suscripcion {
    font-weight: bold;
    margin-top: 10px;
    color: #48a9a6; /* Color del mensaje */
}


a:hover {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil en hover */
}

a, button, img, .curso, .blog-post {
    transition: all 0.3s ease; /* Animación suave para todos los elementos */
}

img {
    background-color: transparent; /* Asegura que las imágenes no tengan fondo blanco */
    border: none; /* Sin borde */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
}

body {
    color: #212529;
    font-family: 'Open Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #006400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Sombra suave en el texto */

}

p {
    color: #333;
}

button, a {
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Animación de fade-in para secciones */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Aparece desde abajo */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

 


.titulo-curso {
    font-size: 1.4em; /* Tamaño adecuado del texto del título */
    font-weight: bold;
    color: #006400; /* Mantiene el color verde */
    text-align: center;
}

/* Contenedor para las banderas en el menú */
.flags {
    display: flex;
    gap: 10px; /* Espacio entre las banderas */
    align-items: center; /* Alinea las banderas verticalmente */
    margin-left: -380px; /* Alinea un poco a la derecha */
}

/* Estilos para las banderas */
.flag-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px; /* Espacio entre las banderas */
}

.flag-icon:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

  


/* Estilos para la sección de idiomas */
.idiomas-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido al inicio */
    padding: 20px;
}

.idiomas-container h3 {
    font-size: 2em;
    color: #006400;
    margin-bottom: 20px;
    text-align: left;
}

.idiomas-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.idiomas-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.idiomas-list img {
    width: 16px;  /* Ajusta el tamaño de los iconos */
    height: 16px; /* Ajusta el tamaño de los iconos */
    margin-right: 10px;
}

.idiomas-list a {
    color: #006400;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em; /* Ajusta el tamaño del texto si es necesario */
}

 

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    transform: translateY(20px); /* Empieza un poco más abajo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición original */
}

.slide-in-left {
    border: 2px solid red; /* Solo para verificar su ubicación */
    background-color: #fff; /* Un fondo claro para hacerla visible */
    margin-bottom: 30px; /* Reducir el espacio inferior */
}

.slide-in-left h2 {
    text-align: center; /* Centrar el título */
    font-size: 2rem; /* Ajustar el tamaño si es necesario */
    margin: 20px 0; /* Añadir espacio superior e inferior */
    color: #1f7037; /* Cambia el color según tu diseño */
}

.slide-in-left h2, 
.testimonios-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.slide-in-left p {
    text-align: center; /* Centrar el subtítulo */
    font-size: 1rem; /* Ajustar el tamaño si es necesario */
    color: #4b5563;
    margin: 10px auto 20px auto; /* Ajustar los márgenes */
}

.slide-in-left.visible {
    opacity: 1;
    transform: translateX(0); /* Vuelve a su posición original */
}

/* Efecto de slide-in desde la derecha */
.slide-in-right {
    opacity: 0;
    transform: translateX(100px); /* Comienza a la derecha */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-right.visible {
    opacity: 1;
    transform: translateX(0); /* Vuelve a su posición original */
}

/* Estilos para el menú y el botón de menú desplegable */
.menu {
    display: none; /* Menú oculto por defecto */
    flex-direction: column;
    align-items: center;
}

.menu-btn {
    display: none; /* Botón de menú oculto en pantallas grandes */
    font-size: 24px;
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
}





/* Estilos para el menú desplegable del Blog */
.blog-dropdown {
    position: relative;
    display: inline-block;
}

.blog-dropdown a {
    padding: 10px 15px;
    text-decoration: none;
    color: #006400;
    font-weight: bold;
}

.blog-content {
    display: none; /* Inicialmente oculto */
    position: absolute;
    background-color: #f1f1f148;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column;
    align-items: center;
}

.blog-content a {
    color: #006400;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.blog-dropdown:hover .blog-content {
    display: block; /* Mostrar el contenido al hacer hover */
}

.blog-dropdown:hover a {
    background-color: grey;
    color: white;
}




.carrusel-container {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center; /* Centra el carrusel */
    align-items: center;
    overflow: hidden; /* Para evitar que se vean los desbordamientos laterales */
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0; /* Sin padding extra */
    margin: 0; /* Sin márgenes extra */
  }
  

  .carrusel .curso {
    flex: 0 0 auto; /* Asegura que no se estiren ni encojan */
    margin: 0; /* Sin márgenes laterales */
    box-sizing: border-box;
    padding: 10px;
    max-width: 300px; /* Tamaño máximo para las tarjetas */
}

.curso img {
    width: 100%;
    height: auto;
    max-height: 180px; /* Altura máxima para las imágenes */
    object-fit: cover; /* Ajustar la imagen dentro del contenedor */
    border-radius: 10px;
}

.carrusel-container .prev, 
.carrusel-container .next {
    font-size: 2rem; /* Aumentar el tamaño de las flechas */
    color: #4b5563; /* Cambiar el color si es necesario */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 10px; /* Añadir un poco de padding para aumentar el área de clic */
    border-radius: 50%; /* Hacer las flechas redondas */
    transition: background-color 0.3s ease;
}

.carrusel-container .prev:hover, 
.carrusel-container .next:hover {
    background-color: #1f7037; /* Color de fondo al hacer hover */
    color: #fff; /* Color de las flechas al hacer hover */
}


/* Estilo de los botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1f7037; /* Color verde por defecto */
    color: #ffffff; /* Color de la flecha en blanco */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color */
    border: none;
    font-size: 2em;
    padding: 15px;
    cursor: pointer;
    z-index: 10; /* Asegura que los botones estén sobre las imágenes */
}

.prev {
    left: 10px; /* Botón de retroceso a la izquierda */
}

.next {
    right: 10px; /* Botón de avance a la derecha */
}

.prev:hover, .next:hover {
    background-color: #28a745; /* Color verde más claro al hacer hover */
}


/* Botón de Volver Arriba */
#back-to-top {
    position: fixed;
    bottom: 150px;
    right: 50px;
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    display: none; /* Oculto por defecto */
    cursor: pointer;
    z-index: 10000; /* Asegura que el botón esté por encima de otros elementos */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#back-to-top:hover {
    transform: scale(1.1); /* Añade un pequeño zoom al hacer hover */
}

.mensaje {
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .exito {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .oculto {
    display: none;
  }

  #suscripcion-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  #suscripcion-form input[type="text"],
  #suscripcion-form input[type="email"] {
    margin-bottom: 20px; /* Ajustar espacio entre los campos */
  }
  
  #suscripcion-form button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
 
  

  #barra-busqueda {
    width: 50%; /* Cambia el ancho */
    padding: 12px 20px; /* Ajusta el padding para hacerlo más cómodo */
    margin-top: 60px; /* Baja un poco la barra de búsqueda */
    font-size: 16px; /* Tamaño de texto */
    border: 2px solid #4CAF50; /* Añade un borde colorido */
    border-radius: 25px; /* Redondea los bordes */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle más profundidad */
    transition: all 0.3s ease-in-out; /* Añade una transición suave */
  }
  
  /* Estilo cuando la barra de búsqueda está activa (cuando el usuario hace clic) */
  #barra-busqueda:focus {
    border-color: #45a049; /* Cambia el color del borde al hacer clic */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
    outline: none; /* Elimina el borde por defecto */
  }


  

  



  .contenedor-info {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .contenedor-info p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 15px 0;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .contenedor-info i {
    color: #006400;
    margin-right: 10px;
    min-width: 30px; /* Ajusta según el tamaño de los íconos */
  }
  





/* Estilos para la imagen del nivel */
.imagen-nivel {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 300px; /* Tamaño máximo ajustado para que la imagen sea más grande */
    height: auto; /* Mantener la proporción de la imagen */
    margin: 0 auto; /* Centrar la imagen dentro del contenedor */
    border: none; /* Elimina cualquier borde */
    border-radius: 8px; /* Mantiene los bordes redondeados */
    box-shadow: none; /* Elimina cualquier sombra alrededor de la imagen */
  }
  
  /* Estilo específico para la imagen de nivel básico */
  #imagenNivel {
    width: 100%; /* Asegura que ocupe todo el espacio de su contenedor */
    max-width: 300px; /* Tamaño máximo para todas las imágenes */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto; /* Centra la imagen en su contenedor */
  }

.imagen-nivel:hover {
  box-shadow: none; /* Elimina sombra en hover */
  transform: none; /* Elimina transformaciones en hover */
}

/* Definición de columnas para niveles, información y lecciones */
.columna-niveles, .columna-info-nivel, .columna-lecciones {
    flex: 1;
    min-width: 300px; /* Establece un ancho mínimo para evitar que se desborde */
    display: flex;
    flex-direction: column;
  }

/* Estilo para la columna de información del nivel */
.columna-info-nivel {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente */
  max-width: 30%; /* Aumenta ligeramente la columna para acomodar mejor la imagen */
  width: 100%; /* Ajusta el ancho del contenedor */
  align-items: center; /* Alinear elementos en el centro del contenedor */
  height: 100%; /* Asegura que la columna ocupe la altura máxima */
}

/* Mantener la altura de las columnas */
.nivel-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Asegura que todas las columnas tengan la misma altura */
    min-height: 600px; /* Ajusta la altura mínima para evitar que crezca dinámicamente */
    height: 100%; /* Ajusta la altura según el contenido */
  }

  /* Contenedor general de los niveles, columnas y lecciones */
  .nivel-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Asegura que se mantenga dentro de la página */
  }
  
    
  
  /* Contenedor principal de botones de nivel */
  .level-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Estilos para los botones de nivel */
  .btn-level {
    background-color: #fff;
    color: #000;
    border: 1px solid #e0e0e0; /* Borde más suave */
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, border 0.3s;
  }
  
  /* Icono dentro de los botones */
  .btn-level .icon {
    font-size: 18px;
  }
  
  /* Estado hover y activo de los botones */
  .btn-level:hover,
  .btn-level.active {
    background-color: #48a9a6; /* Verde suave para el estado activo */
    color: #fff;
  }
  

  

  
  /* Estilo para el título del nivel */
  #tituloNivel {
    font-size: 1.2rem; /* Tamaño más pequeño */
    font-weight: bold;
    color: #000;
    margin-bottom: 5px; /* Reducir margen inferior para acercar al subtítulo */
    text-align: left;
  }
  
  /* Estilo para la descripción del nivel */
  #descripcionNivel {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* Estilo para las lecciones */
  .columna-lecciones .contenedor-leccion {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo para el título de cada lección */
  .contenedor-leccion h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
  }
  
  /* Estilo para la descripción de cada lección */
  .contenedor-leccion p {
    font-size: 14px;
    margin: 0;
    color: #555;
  }
  
  /* Estilo para el mini-contenedor de la semana */
  .week-badge {
    background-color: #d4f4f3;
    color: #48a9a6;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #b3e7e5;
    display: inline-flex; /* Mantiene alineado en línea */
    text-align: center;
    margin-left: auto; /* Empuja el badge hacia el lado derecho */
  }
  
  /* Estilo de botón cuando está seleccionado */
  .button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    border: 1px solid #ddd;
  }
  
  .button.selected {
    background-color: #5bc0be; /* Color verde para indicar que está seleccionado */
    color: #fff;
  }





  
  /* Aseguramos que el pie de página se mantenga al final */
  footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos la altura de la pantalla */
  }
  
  main {
    flex: 1;
  }
  







/* Estilo general para las secciones de pantalla completa */
.seccion-pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh; /* Reduce la altura para dejar más espacio arriba */
    margin: 0;
    padding: 0;
    margin-top: 40px; /* Añade un margen superior para separar mejor del contenido anterior */
  }
  
  /* Estilo para el video de presentación */
  .video-centrado {
    width: 80%; /* Ajusta el ancho del video */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    object-fit: contain; /* Ajusta el video para que se vea completamente en el contenedor */
    pointer-events: none; /* Desactiva la interacción con el video para evitar hover y clics */
  }
  
  /* Estilo para las imágenes centradas */
  .imagen-centrada {
    width: auto; /* Ajusta el ancho automáticamente */
    height: 80%; /* Limita la altura para que no ocupe toda la pantalla */
    object-fit: contain; /* Ajusta la imagen para que se vea completamente en el contenedor */
    border: none; /* Elimina cualquier borde */
    box-shadow: none; /* Elimina sombras */
    pointer-events: none; /* Desactiva la interacción con las imágenes para evitar hover y clics */
  }
  
  /* Espaciado entre las secciones */
  .seccion-pantalla + .seccion-pantalla {
    margin-top: 20px; /* Añadir espacio entre las secciones */
  }
  





/* Sección de Estadísticas */
.estadisticas {
    background-color: #0d3331; /* Color oscuro para la franja */
    display: flex;
    justify-content: space-between; /* Distribuir las estadísticas de forma equitativa */
    align-items: center;
    padding: 30px 20px;
    border-radius: 15px;
    width: 100%; /* Ancho completo */
    color: white; /* Todo el texto en blanco */
    position: relative; /* Para manejar la posición de la ilustración */
}

/* Estilo para cada bloque de estadísticas */
.estadistica-item {
    text-align: center;
    flex-basis: 25%; /* Ajusta el espacio para cada bloque */
}

/* Estilo para cada valor */
.estadistica-item .valor {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0;
    color: white; /* Asegurar que el texto del valor sea blanco */
}

/* Estilo para las estrellas */
.estrellas {
    display: flex;
    justify-content: center; /* Centra las estrellas dentro de su bloque */
}

.estrellas i {
    color: #FFD700; /* Color dorado para las estrellas */
    font-size: 1.2em;
    margin-right: 2px;
}

/* Iconos generales para el resto de estadísticas */
.estadistica-item i {
    font-size: 2.5em;
    margin-bottom: 5px;
}

/* Estilo para la descripción */
.estadistica-item .descripcion {
    font-size: 1em;
    margin-top: 5px;
    color: white; /* Asegurar que el texto de la descripción sea blanco */
}

/* Estilo para la ilustración */
.ilustracion img {
    max-width: 700px; /* Aumentar tamaño de la imagen */
    height: auto;
    display: block;
    border: none; /* Sin borde */
    box-shadow: none; /* Sin sombra */
    margin: 0 auto; /* Centrar la imagen */
    position: absolute; /* Posicionar sobre la franja */
    right: -190px; /* Ajustar la posición en el lado derecho */
    bottom: -90px; /* Ajustar para que los pies toquen el suelo */
    z-index: 2; /* Asegurar que la imagen quede por encima de la franja */
    transform: translateY(-20%); /* Hacer que la cabeza y brazo sobresalgan ligeramente */
}


/* Sección de Bienvenida */
.seccion-bienvenida {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
  }


  
  .contenido-bienvenida {
    flex: 1;
    padding: 20px;
  }
  
  .contenido-bienvenida h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #212529;
    margin-bottom: 15px;
  }
  
  .contenido-bienvenida p {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 30px;
  }
  
  .btn-bienvenida {
    display: inline-block;
    padding: 20px 39px; /* Aumenta el padding para un botón más grande */
    background-color: #1f7037;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.6rem; /* Aumenta el tamaño de la fuente */
    margin-top: 20px;
    transition: box-shadow 0.5s ease, background-color 0.5s ease;
    animation: parpadeo 2s infinite;
}

/* Efecto de parpadeo con cambio suave de color */
@keyframes parpadeo {
    0%, 100% {
        box-shadow: 0 0 10px rgba(31, 112, 55, 0.7), 0 0 20px rgba(31, 112, 55, 0.5);
        background-color: #1f7037;
    }
    50% {
        box-shadow: 0 0 20px rgba(31, 112, 55, 1), 0 0 30px rgba(31, 112, 55, 0.7);
        background-color: #2ca04a;
    }
}
  
.btn-bienvenida:hover {
    background-color: #2ca04a;
    box-shadow: 0 0 20px rgba(31, 112, 55, 1), 0 0 30px rgba(31, 112, 55, 0.7);
}
  
  .detalles {
    margin-top: 20px;
  }
  
  .detalles .fecha-inicio {
    font-size: 1em;
    font-weight: bold;
    color: #555;
  }

  .ilustracion-bienvenida {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilustracion-bienvenida img {
    width: 100%; /* Aumenta el ancho al 80% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border: none;
    box-shadow: none;
}



  /* Estilo para el título principal en la sección de bienvenida */
.contenido-bienvenida h1 {
    font-size: 3em; /* Tamaño más grande */
    font-weight: 600; /* Mayor grosor */
    color: #212529;
    margin-bottom: 10px;
    background: linear-gradient(to right, #0d3331, #48a9a6); /* Efecto degradado */
    background-clip: text; /* Propiedad estándar */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; /* Relleno transparente para mostrar el degradado */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar el título */
  }
  
  /* Alternativa de sombra en el texto */
  .contenido-bienvenida h1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #48a9a6; /* Color de la sombra inferior */
    border-radius: 8px;
  }
  






/* Estilos para el Hero Banner */

.hero-text {
    width: 100%;
    padding: 20px 20px; /* Reducir padding para optimizar espacio */
    background-color: #f8f9fa; /* Fondo ligero para diferenciar del video */
    text-align: center;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.hero-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* Contenido del Hero */
.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0; /* Sin padding adicional */
}

/* Título del Hero */
.hero-title {
    font-family: 'Poppins', sans-serif; 
    font-size: 1.5rem; /* Tamaño reducido */
    color: #1f2937;
    font-weight: 700;
    margin: 10px 0; /* Reducir márgenes */
    letter-spacing: 0.5px; 
    line-height: 1.3;
    margin-left: -80px; /* Ajusta el valor según la posición deseada */
}

/* Subtítulo del Hero */
.hero-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Ligero pero no tan delgado */
    font-size: 1.1em; /* Tamaño ajustado para mejor legibilidad */
    color: #2c3e50; /* Tono más definido para contraste */
    margin: 5px 0; /* Reducir márgenes */
    letter-spacing: 0.5px;
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Botón del Hero */
.hero-button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin: 15px 0; /* Reducir margen */
}

.hero-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}


/* Animación de parpadeo */
@keyframes blink-animation {
    0% {
        background-color: #4CAF50; /* Color de fondo original */
        transform: scale(1);
    }
    50% {
        background-color: #3e8e41; /* Color de fondo más oscuro */
        transform: scale(1.05);
    }
    100% {
        background-color: #4CAF50; /* Volver al color original */
        transform: scale(1);
    }
}

.blink {
    animation: colorGlow 2s ease-in-out infinite alternate;
  }
  
  @keyframes colorGlow {
    0% {
      background-color: #1f7037; /* Color inicial */
      box-shadow: 0 0 5px rgba(31, 112, 55, 0.4), 0 0 10px rgba(31, 112, 55, 0.6);
      transform: scale(1);
    }
    100% {
      background-color: #28a745; /* Color final ligeramente más claro */
      box-shadow: 0 0 20px rgba(40, 167, 69, 0.8), 0 0 30px rgba(40, 167, 69, 1);
      transform: scale(1.05);
    }
  }
  

.detalles .fecha-inicio {
    font-size: 1em;
    font-weight: bold;
    color: #555;
    margin-top: 20px; /* Añadir espacio entre el botón y el texto de detalles */
}


/* Estilo del video */
.video-destacado {
    width: 200%; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantener la proporción del video */
    max-height: 450px; /* Limitar la altura máxima para evitar que ocupe demasiado espacio */
    object-fit: contain; /* Mostrar el video completo sin recortar */
}



/* Estilo de la sección mejorada */
.seccion-niveles {
    padding: 50px 20px;
    text-align: center;
    background: #f5f7fa;
  }
  
/* Contenedor estilizado para el título */
.contenedor-titulo {
    background: linear-gradient(135deg, #f0f8ff, #dff0ea); /* Fondo degradado */
    padding: 30px 20px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    text-align: center;
    width: 80%;
    margin: 0 auto; /* Centrar el contenedor */
  }
  
  /* Título de la sección */
  .titulo-seccion {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Subtítulo de la sección */
  .subtitulo-seccion {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #34495e;
    margin-top: 0;
    text-align: center;
    line-height: 1.5;
  }


  .encabezado-principal.scrolled {
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}



  
  /* Menú principal */
  .menu-principal {
    display: flex;
    gap: 30px; /* Espaciado entre los enlaces */
}
  
  /* Ajuste de enlaces en el menú */
  .menu-principal a {
    color: #2c3e50; /* Color del texto */
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .menu-principal a:hover {
    transform: translateY(-2px);
  }
  
  /* Blog Dropdown */
  .blog-dropdown {
    position: relative;
  }
  
  .blog-dropdown .blog-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff55;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1001;
  }
  
  .blog-dropdown:hover .blog-content {
    display: block;
  }
  
  .blog-content a {
    display: block;
    padding: 10px;
    color: #2c3e50;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .blog-content a:hover {
    background-color: #f1f1f1;
  }
  
 

  

  
 

  /* Elimina cualquier sombra o transformaciones del logo */
  header #logo-animalangs {
    width: 80px; /* Reducir el tamaño del logo */
    height: auto;
    display: block;
    background-color: transparent !important;
    transition: none !important;
    box-shadow: none !important;
}

/* Estilo para el logo */
#logo-animalangs {
    width: 120px; /* Reduce el tamaño del logo en pantallas pequeñas */
}

/* Desactiva cualquier efecto hover en el logo */
header #logo-animalangs:hover,
header #logo-animalangs:focus,
header #logo-animalangs:active {
    transform: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}


.suscripcion button:hover {
    background-color: initial; /* Elimina el cambio de color en hover */
}

/* Estilos para el encabezado de los cursos */
.encabezado-cursos {
    background-color: #f0f4f8; /* Fondo suave para resaltar el encabezado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
    margin: 30px auto;
    max-width: 900px;
}

/* Título estilizado */
.encabezado-cursos .titulo-seccion {
    font-size: 2.5em; /* Ajustar el tamaño del título */
    color: #2c3e50; /* Color del título */
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}

/* Línea decorativa debajo del título */
.encabezado-cursos .titulo-seccion::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px; /* Ajustar según el diseño */
    height: 3px;
    background: #48a9a6; /* Color de la línea decorativa */
    border-radius: 5px;
}

/* Subtítulo estilizado */
.encabezado-cursos .subtitulo-seccion {
    font-size: 1.2em; /* Tamaño del subtítulo */
    color: #555; /* Color del subtítulo */
    margin-top: 5px;
}


.titulo-centralizado {
    text-align: center;
}

.subtitulo-centralizado {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}

 
  

/* Asegura que el encabezado sea fijo y no se muevan los demás elementos */
.encabezado-principal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%; /* Asegura que el encabezado tenga el 100% de ancho */
}

.acciones-encabezado {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}

/* Contenedor para las banderas */
.acciones-encabezado .flags {
    display: flex;
    gap: 10px; /* Espacio entre las banderas */
    align-items: center; /* Alinea las banderas verticalmente */
    position: fixed; /* Mantiene las banderas fijas en la pantalla */
    top: 7%; /* Centra verticalmente */
    right: 100px; /* Coloca las banderas a la derecha */
    transform: translateY(-50%); /* Alinea las banderas perfectamente al centro */
    z-index: 10; /* Asegura que las banderas estén encima de otros elementos */
}

/* Estilo de cada bandera */
.acciones-encabezado .flags a {
    display: block;
    width: 30px; /* Tamaño de las banderas */
    height: 20px; /* Tamaño de las banderas */
}

/* Respuesta en pantallas más pequeñas */
@media (max-width: 768px) {
    /* Menú de hamburguesa */
    .menu-btn {
        display: block; /* Mostrar el botón en pantallas pequeñas */
    }

    .menu {
        display: none; /* Ocultar el menú en pantallas pequeñas */
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        padding: 10px;
        display: block;
        text-align: center;
        width: 100%;
    }

    /* Estilos del encabezado */
    .encabezado-principal {
        flex-direction: column;
        padding: 10px;
    }

    /* Estilos de las banderas */
    .acciones-encabezado {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .acciones-encabezado .flags {
        bottom: 10px; /* Alinea las banderas en la parte inferior */
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    /* Mostrar la hamburguesa */
    .menu-hamburguesa {
        display: block; /* Muestra el ícono de hamburguesa */
    }

    .menu-hamburguesa.active + .menu-principal {
        display: flex; /* Muestra el menú cuando se active la hamburguesa */
        flex-direction: column;
        align-items: center;
    }

    .menu-principal {
        display: none; /* Ocultar el menú normal */
        flex-direction: column;
        align-items: center;
    }

    .menu-principal.show {
        display: flex; /* Mostrar el menú cuando se activa */
    }
}


.encabezado-container {
    width: 100%;
    max-width: 1200px; /* Limita el ancho en pantallas grandes */
    margin: 0 auto;
    padding: 0 15px;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}